body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  /*text-align: center;*/
}

.question-form {
    width: 400px;
    margin: auto;
}

.question-form textarea.form-control {
    height: 50px;
    resize: none;
}

.question-form input[type="checkbox"] {
    height: 16px;
}

.choice-form {
    position: relative;
}

.close {
    position: absolute;
    top: -2px;
    right: 5px;
}

.language-container {
    position: absolute;
    top: 10px;
    right: 10px;
}
.flag-icon-en {
    background-image: url(../flags/4x3/gb.svg);
}
