{% load static %}
{% load widget_tweaks %}
{% load i18n %}

<form class='form-horizontal question-form js-create-edit-question-form'
      method="post" data-modal-id="modal-test" data-container="questions-container"
    {% if question.pk %}
      action="{% url 'question-edit' question_pk=question.pk %}"
    {% else %}
      action="{% url 'question-create' test_pk=test.pk %}"
    {% endif %}>

  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      {% blocktrans with action=action|capfirst %}{{ action }} question{% endblocktrans %}
    </h4>
  </div>
  <div class="modal-body">

    {% include 'testsapp/partials/form.html' with form=question_form %}

    <div class="form-group">
      {{ choice_formset.management_form }}

      <span class="lead">{% trans "answer choices"|capfirst %}:</span>

      {% if choice_formset.non_form_errors %}
        <div class="alert alert-dismissible alert-danger">
          {% for error in choice_formset.non_form_errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}


      {% for form in choice_formset %}

        <div class="choice-form well">
          {% include 'testsapp/partials/form.html' %}
        </div>
      {% endfor %}
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default"
            data-dismiss="modal">{% trans "close"|capfirst %}</button>
    <button type="submit" class="btn btn-primary">{% trans "save" %}</button>
  </div>
</form>

<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $('.choice-form').formset({
        addText: '<span title="{% trans "add" %}" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>',
        deleteText: '<span title="{% trans "delete" %}" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>',
        deleteCssClass: 'close',
        prefix: '{{ choice_formset.prefix }}'
    });
</script>