{% load i18n %}
{% for question in questions %}
  <div class="well close-container">
    <div class="lead">
      <pre>{{ question.text }}</pre>
    </div>
    {% for choice in question.choices.all %}
      <div>
        {% if choice.is_correct %}
          <span class="glyphicon glyphicon-ok"
                aria-hidden="true"></span>
        {% else %}
          {% if not question.only_one_correct_choice %}
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          {% endif %}
        {% endif %}
        <pre>{{ choice.text }}</pre>
      </div>
    {% endfor %}
    <button type="button" class="btn btn-primary js-edit-question"
            data-url="{% url 'question-edit' question_pk=question.pk %}"
            data-modal-id="modal-test"
            data-container="questions-container">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      {% trans "edit question" %}
    </button>
    <button type="button" class="btn btn-danger js-delete-question"
            data-url="{% url 'question-delete' pk=question.pk %}"
            data-modal-id="modal-test">
      <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
      {% trans "delete question" %}
    </button>
  </div>
{% endfor %}