{% load static %}
{% load widget_tweaks %}
{% load i18n %}

<form class='form-horizontal question-form'
      method="post" action="{% url 'test-delete' test.id %}">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{% trans "test deletion confirmation"|capfirst %}</h4>
  </div>
  <div class="modal-body">
    <p class="lead">{% trans "are you sure to delete this test"|capfirst %}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "close"|capfirst %}
    </button>
    <button type="submit" class="btn btn-danger">{% trans "delete test"|capfirst %}</button>
  </div>
</form>

