{% load static %}
{% load i18n %}
{% load active_url %}
<!DOCTYPE html>
<html lang>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/flag-icon.css' %}"/>

    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}"/>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>

    {% block meta %}{% endblock %}
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                  aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% active_url 'index' %}"><a href="{% url 'index' %}">Home</a></li>
            <li class="{% active_url 'test-list' %}"><a href="{% url 'test-list' %}">Tests</a></li>
            {% if user.is_authenticated %}<li class="{% active_url 'user-test-list' %}"><a href="{% url 'user-test-list' %}">My tests</a></li>{% endif %}
            {% include 'loginpartial.html' %}
          </ul>

        </div><!--/.nav-collapse -->
        <div class="language-container">
          {% include 'language_chooser.html' %}
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="starter-template">
        {% block content %}{% endblock %}
      </div>
    </div>

    <footer class="footer">
      <hr/>
      <div align="center">
        <p>{% trans "footer"|capfirst %}</p>
        <p>{% trans "2017, Minsk, Belarus" %}</p>
      </div>
    </footer>

    {% block scripts %}{% endblock %}

  </body>
</html>
