{% extends "base.html" %}

{% block title %}Index page{% endblock %}

{% block content %}

  <p>
    Можете воспользоваться заранее созданным аккаунтом:
  </p>
  <p>
    login: q8334jmlw0
  </p>
  <p>
    passworn: ukfxly99wi
  </p>
  <p>
    Простой сервис проведения тестирования по каким-либо темам.
    Т.е. есть тесты с вариантами ответов, один или несколько вариантов должны
    быть правильными. Тесты группируются в наборы тестов, которые затем
    пользователь может проходить и видеть свой результат.
  </p>
  <p>
    Что сделано:
  </p>
  <p>
    Регистрация пользователей с подтверждением по e-mail.
    Зарегистрированные пользователи могут создавать тесты.
    Возможность на странице набора тестов добавлять вопросы/ответы к
    вопросам/отмечать правильные ответы.
    Валидация на то, что должен быть хотябы 1 правильный вариант.
    Валидация на то, что все варианты не могут быть правильными.
    Удаление вопросов/вариантов ответов/изменение правильных решений при
    редактировании тестового набора.
  </p>
  <p>
    Интернационализация (i18n).
  </p>
  <p>
    Любые пользователи могут проходить любой из тестовых наборов.
    Последовательный ответ на все вопросы, каждый вопрос должен выводится на
    новой странице с отправкой формы (перескакивать через тесты или оставлять
    неотмеченными нельзя).
    После завершения тестирования смотреть результат:
    количество правильных/неправильных ответов, какие были данные ответы,
    какие из них были верные.
  </p>
  <p>
    Задание брал <a href="https://toster.ru/q/212981#answer_574655">отсюда</a>,
    но немного переделал.
  </p>
  <p>
    Во фронтенде не очень разбираюсь, поэтому сделал как смог.
  </p>
{% endblock %}
