{% load i18n %}
{% load static %}

<form action="{% url 'set_language' %}" method="post">
  {% csrf_token %}
  <select name="language" class="selectpicker" data-width="fit" onchange="this.form.submit()">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
      <option value="{{ language.code }}"
          {% if language.code == LANGUAGE_CODE %} selected{% endif %}
              data-content='<span class="flag-icon flag-icon-{{ language.code }}"></span>
              {{ language.code }}'>
      </option>
    {% endfor %}
  </select>
</form>

<script language="javascript">
    $(function () {
        $('.selectpicker').selectpicker();
    });
</script>
