{% load i18n %}
{% if user.is_authenticated %}
  <li><p class="navbar-text">{% blocktrans with username=user.username %}Hello, {{ username }}{% endblocktrans %}</p></li>
  <form id="logoutForm" method="post" class="navbar-right nav navbar-nav"
        action="{% url 'auth_logout' %}?next={{ request.path | urlencode }}">
    {% csrf_token %}

    <li><a class="navbar-link" href="javascript:document.getElementById('logoutForm').submit()">
        {% trans "logout"|capfirst %}
      </a>
    </li>
  </form>

{% else %}
    <li><a href="{% url 'auth_login' %}?next={{ request.path | urlencode }}">{% trans "login"|capfirst %}</a></li>
    <li><a href="{% url 'registration_register' %}">
      {% trans "register"|capfirst %}
    </a></li>
{% endif %}
