{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "taking test"|capfirst %}{% endblock %}

{% block content %}
  <form class='form-horizontal' method="post">
    {% csrf_token %}
    <input type="hidden" value="{{ answered_question }}"
           name="answered_question">
    <input type="hidden" value="{{ question.id }}"
           name="question">
    <pre>{{ question.text }}</pre>
    <br>
    {% for choice in question.choices.all %}
      <div class="well">
        <label>
          <input value="{{ choice.id }}" name="answers"
                 type="{% if question.only_one_correct_choice %}radio{% else %}checkbox{% endif %}">
          <pre>
            {{ choice.text }}
          </pre>
          <br>
        </label>
      </div>
    {% endfor %}
    <input type="submit" value="{% trans "answer"|capfirst %}"/>
  </form>
{% endblock %}

{% block scripts %}

{% endblock %}

