{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans 'edit test'|capfirst %}{% endblock %}

{% block content %}
  <div class="lead">{{ test.title }}</div>

  <div id="questions-container">
    {% include 'testsapp/partials/questions.html' with questions=test.questions.all %}
  </div>
  <p>
    <button type="button" class="btn btn-primary js-add-question"
            data-url="{% url 'question-create' test_pk=test.pk %}"
            data-modal-id="modal-test"
            data-container="questions-container">
              <span class="glyphicon glyphicon-plus-sign"
                    aria-hidden="true"></span>
      {% trans "add multiple choice question" %}
    </button>
    <button type="button" class="btn btn-primary js-add-question"
            data-url="{% url 'question-create-single-choice' test_pk=test.pk %}"
            data-modal-id="modal-test"
            data-container="questions-container">
              <span class="glyphicon glyphicon-plus-sign"
                    aria-hidden="true"></span>
      {% trans "add single choice question" %}
    </button>
    <a role="button" class="btn btn-primary"
       href="{% url 'test-update' pk=test.pk %}">
              <span class="glyphicon glyphicon-edit"
                    aria-hidden="true"></span>
      {% trans "change name"|capfirst %}
    </a>
    <button type="button" class="btn btn-danger js-delete-test"
            data-url="{% url 'test-delete' pk=test.pk %}"
            data-modal-id="modal-test">
              <span class="glyphicon glyphicon-remove-circle"
                    aria-hidden="true"></span>
      {% trans "delete test" %}
    </button>
  </p>

  <div class="modal fade" id="modal-test">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/modal-forms.js' %}"></script>
  <script src="{% static 'js/test-forms.js' %}"></script>
{% endblock %}

