{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "create/edit test"|capfirst %}{% endblock %}

{% block content %}
  <form class='form-horizontal question-form' method="post" action="">
    {% csrf_token %}
    <span class="lead">{% trans "test title"|capfirst %}:</span>
    <div>{{ form.title }}</div>
    <br>
    <input type="submit" value="{% trans "save" %}"/>
  </form>
{% endblock %}

{% block scripts %}

{% endblock %}

