{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load lookup %}

{% block title %}{% trans "test result"|capfirst %}{% endblock %}

{% block content %}
  <span class="lead">{{ test.title }}</span>
  <br>
  <span class="lead small">{% blocktrans %}You answered correct {{ right_answers_amount }} out of {{ question_amount }}.{% endblocktrans %}</span>
  {% for question in test.questions.all %}
    {% with right=right_choices|lookup:question.id %}
      <div class="well">
        <pre>{{ question.text }}</pre>
        {% for choice in question.choices.all %}
          <div class="alert {% if choice.id in right %}alert-success{% else %}alert-danger{% endif %}">
            <input {% if choice.id in checked_choices %}checked{% endif %}
                   type="{% if question.only_one_correct_choice %}radio{% else %}checkbox{% endif %}">
            <span class="small"><pre>{{ choice.text }}</pre></span>
          </div>
        {% endfor %}
      </div>
    {% endwith %}
  {% endfor %}
{% endblock %}

{% block scripts %}

{% endblock %}

