{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "tests"|capfirst %}{% endblock %}

{% block content %}
  {% for test in test_list %}
    <div class="well">
      {% if test.questions.all %}
        <a href="{% url 'test-take' pk=test.pk %}"
           class="btn-sm btn btn-success"
           role="button">{% trans "take test"|capfirst %}</a>
      {% else %}
        <button class="btn-sm btn btn-success" disabled
                title="{% trans "you can't take this test as it has no questions"|capfirst %}."
                role="button">{% trans "take test"|capfirst %}</button>
      {% endif %}
      {% if request.user == test.owner %}
        <a href="{% url 'test-edit' pk=test.pk %}"
           class="btn-sm btn btn-warning"
           role="button">{% trans "edit test"|capfirst %}</a>
      {% endif %}
      {{ test.title }}
    </div>
  {% empty %}
    <p>{% trans "there is no tests yet"|capfirst %}.</p>
  {% endfor %}
  {% if user.is_authenticated %}
    <div><a href="{% url "test-create" %}">{% trans "create test"|capfirst %}</a></div>
  {% endif %}
  {% if is_paginated %}
    <div class="pagination">
      <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="{{ request.url }}?page=
{{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
          {% endif %}
        <span class="page-current">
              {% blocktrans with current=page_obj.number all=page_obj.paginator.num_pages %}Page {{ current }} out of {{ all }}.{% endblocktrans %}
          </span>
        {% if page_obj.has_next %}
          <a href="{{ request.url }}?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
      </span>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}

